.container-try-me {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('../../assets/fundo-tryme.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border-bottom: 1px solid #eaeaea;

  .title-container {
    padding: 5% 0 34px 0;
    display: flex;
    width: 100%;
  }

  .title-text {
    margin: 0 auto;
    font-size: 80px;
    line-height: 90px;
    color: #111;
    text-align: center;
    font-family: 'AprovaSans';
    font-weight: bold;
  }

  .image-container {
    width: 1262px;
    height: 724px;
    display: flex;
    margin: 0 auto;
  }
}