/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
    font-family: 'AprovaSans';
    font-style: normal;
    src:
      local('Aprova'),
      local('Aprova-Regular'),
      url(./fonts/aprova/Aprova-Regular.woff) format('woff2'),
      url(./fonts/aprova/Aprova-Regular.woff) format('woff');
}

@font-face {
    font-family: 'AprovaSans-Bold';
    font-style: normal;
    src:
      local('AprovaBold'),
      local('Aprova-Bold'),
      url(./fonts/aprova/Aprova-Black.woff2) format('woff2'),
      url(./fonts/aprova/Aprova-Black.woff) format('woff');
}

@font-face {
    font-family: 'InterUI';
    font-style: normal;
    src:
      local('Inter'),
      local('Inter-Regular'),
      url(./fonts/inter/Inter-Regular.woff) format('woff2'),
      url(./fonts/inter/Inter-Regular.woff) format('woff');
}

@font-face {
    font-family: 'InterUI-Bold';
    font-style: normal;
    src:
      local('InterBold'),
      local('Inter-Bold'),
      url(./fonts/inter/Inter-Bold.woff) format('woff2'),
      url(./fonts/inter/Inter-Bold.woff) format('woff');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  
  
}

.font {
  .h2-subtitle-hero {
    font-size: 15px !important;
  }
}

.font1 {
  transition: all .10s ease-out 0s;
  .h2-subtitle-hero {
    font-size: 20px !important;
  }
}

.font2 {
  transition: all .10s ease-out 0s;

  .h2-subtitle-hero {
    font-size: 30px !important;
    width: 40%;
    line-height: 40px;
  } 

  //CTA
  .cta-hero {
    font-size: 25px;
    width: 30%;
  }

  .login-button {
    font-size: 18px;
  }

  //slider
  .item {
    h3 {
      width: 575px;
      line-height: 40px;
      font-size: 30px;
    }

    button {
      font-size: 25px;
    }
  }  

  .item-features {
    h3 {
      font-size: 40px;
    }

    p {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .item-1-social {
    p {
      font-size: 30px;
      line-height: 40px;
    }

    span {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .item-2-social {
    p {
      font-size: 30px;
      line-height: 40px;
    }

    span {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .item-3-social {
    p {
      font-size: 30px;
      line-height: 40px;
    }

    span {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .green-button {
    font-size: 25px;
  }

  //FAQ

  .question-faq-title {
    font-size: 35px;
    line-height: 45px;
  }

  question-answer {
    font-size: 25px;
    line-height: 35px;
  }
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}