.font {
  .h2-subtitle-hero {
    font-size: 15px !important;
  }
}

.font1 {
  .h2-subtitle-hero {
    font-size: 20px !important;
    transition: all 0.5s linear;
  }

  .cta-hero {
    transition: all 0.5s linear;
  }

  .login-button {
    transition: all 0.5s linear;
  }
}

.font2 {

  .h2-subtitle-hero {
    font-size: 30px !important;
    width: 40%;
    line-height: 40px;
    transition: all 0.5s linear;
  } 

  //CTA
  .cta-hero {
    font-size: 25px;
    width: 30%;
    transition: all 0.5s linear;
  }

  .login-button {
    font-size: 18px;
    transition: all 0.5s linear;
  }

  //slider
  .item {
    h3 {
      width: 575px;
      line-height: 40px;
      font-size: 30px;
      transition: all 0.5s step-end;
    }

    button {
      font-size: 25px;
      transition: all 0.5s linear;
    }
  }  

  .item-features {
    height: 800px;
    h3 {
      font-size: 40px;
    }

    p {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .item-1-social {
    p {
      font-size: 30px;
      line-height: 40px;
    }

    span {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .item-2-social {
    transition: all 0.5s linear;
    p {
      font-size: 30px;
      line-height: 40px;
    }

    span {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .item-3-social {
    p {
      font-size: 30px;
      line-height: 40px;
    }

    span {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .green-button {
    font-size: 25px;
    width: 350px;
    transition: all 0.5s linear;
  }

  //FAQ

  .question-faq-title {
    font-size: 35px;
    line-height: 45px;
  }

  .question-answer {
    font-size: 25px;
    line-height: 35px;
  }
}