.font1 {
  #ta {
    background-color: white;
  }
  
  .h1-title-hero {
    font-size: 80px !important;
  }
}

.font2 {
  #ta {
    background-color: black;
  }

  .h1-title-hero {
    font-size: 150px !important;
  }
}