.container-footer {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #eaeaea;

  .wrapper-footer {
    padding: 0 5%;
    height: 90%;
  }

  .header {
    position: relative;
    height: 20vh;
    width: 100%;

    .logo-footer {
      position: absolute;
      zoom: .6;
      bottom: 40%;
      width: 200px;
      height: 60px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('../../assets/descomplica2.svg');

      @media (max-width: 1000px) {
        zoom: 1.5;
      }
    }
  }

  .categories {
    position: relative;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'AprovaSans';
    border-bottom: 1px solid #eaeaea;

    @media (max-width: 1000px) {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .column {
      width: 17vw;

      @media (max-width: 1000px) {
        width: 100%;
        font-size: 30px;
      }

      .links {
        padding: 0;
        font-size: 14px;
        list-style-type: none;  
        font-family: 'InterUI';
        margin-top: 5%;

        .numero {
          color: gray;
        }

        li {
          margin-top: 3%;

          :hover {
            text-decoration: underline;
          }

          a {
            text-decoration: none;
            color: gray;
            cursor: pointer;
          }
        }
      }
    }
  }

  .rodape {
    position: relative;
    bottom: 0;
    height: 10%;
    margin-top: 1%;

    a {
      .logo-menor {
        position: absolute;
        top: 10%;
        left: 0;

        @media (max-width: 1000px) {
          zoom: 3;
        }
      }
    }

    .images {
      position: absolute;
      width: auto;
      display: flex;
      flex-direction: row;
      right: 0%;
      list-style-type: none;

      li {
        padding: 0 10%;
        cursor: pointer;

        @media (max-width: 1000px) {
          zoom: 3;
          margin-left: 30%;
        }
      }
    }

    .logo-menor {
      width: 30px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('../../assets/small-descomplica-icon.svg'); 
    }

    .facebook {
      width: 30px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('../../assets/fb-icon.svg');   
    }

    .twitter {
      width: 30px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('../../assets/twitter-icon.svg'); 
    }

    .youtube {
      width: 30px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('../../assets/youtube-icon.svg'); 
    }

    .instagram {
      width: 30px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('../../assets/instagram-icon.svg'); 
    }
  }
}