.container-footer {
  position: absolute;
  height: 100vh;
  padding: 0 5vw;
  display: flex;

  .categories {
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #eaeaea;

    .column {
      width: 20vw;

      ul {
        padding: 0;
        list-style-type: none;

        li {
          :hover {
            color: red;
          }

          a {
            text-decoration: none;
            color: black;
            cursor: pointer;
          }
        }
      }
    }
  }

}