.container-footer {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;

  .wrapper-footer {
    padding: 0 5%;
  }

  .header {
    position: relative;
    height: 20vh;
    width: 100%;

    .logo {
      position: absolute;
      zoom: .6;
      bottom: 40%;

      @media (max-width: 1000px) {
        zoom: 1.5;
      }
    }
  }

  .categories {
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'AprovaSans';

    @media (max-width: 1000px) {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .column {
      width: 17vw;

      @media (max-width: 1000px) {
        width: 100%;
        font-size: 30px;
      }

      .links {
        padding: 0;
        list-style-type: none;        
        font-weight: normal;
        margin-top: 8%;

        .numero {
          color: gray;
        }

        li {
          margin-top: 3%;

          :hover {
            text-decoration: underline;
          }

          a {
            text-decoration: none;
            color: gray;
            cursor: pointer;
          }
        }
      }
    }
  }

  .rodape {
    position: relative;
    bottom: 0;
    height: 10vh;
    margin-top: 1%;

    a {
      .logo-menor {
        position: absolute;
        top: 10%;
        left: 0;

        @media (max-width: 1000px) {
          zoom: 3;
        }
      }
    }

    .images {
      position: absolute;
      width: auto;
      display: flex;
      flex-direction: row;
      right: 5%;
      list-style-type: none;

      li {
        margin-left: 10%;

        @media (max-width: 1000px) {
          zoom: 3;
          margin-left: 30%;
        }
      }

    }
  }
}