.container-question-faq {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  height: auto;
  align-items: center;
  padding: 5% 0;

  &.active {
    background-color: #fafafa !important;
    transition: fill .3s ease;
    transform: translateY(0);
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
    height: 320px;
    align-items: flex-start;
  }

  .question-faq-number {
    width: 12%;
    display: block;
    color: #cfcfcf;
    float: left;
    font-size: 40px;
    font-weight: normal;
    padding-left: 7vw;
  }

  .question-faq-title {
    float: left;

    font-size: 40px;
    color: #111;
    font-weight: normal;
    width: 50%;
  }

  .question-faq-arrow {
    position: absolute;
    right: 5%;

    svg {
      width: 60px;
      height: 60px;
      transform: rotate(180deg);
      transition: transform .5s;
      transform-origin: center center;
    }

    path {
      transition: transform .5s;
    }

    &.active {
      svg {
        transform: rotate(0deg);
        fill: #111;

        circle {
          fill: #00E88F;
        }

        path {
          fill: #111;
        }

        .second-path {
          stroke: #111;
          fill: #111;
        }
      }
    }
  }

  .question-answer-container {
    clear: both;
    float: left;
    display: inherit;
    overflow: hidden;
    position: absolute;
    padding-top: 10%;
    padding-left: 19%;
    transition: max-height 0.2s ease-out;
  }
  
  .question-answer {
    width: 80%;
    font-size: 30px;
    line-height: 1.4;
    letter-spacing: -0.1px;
    color: #8c8c8c;
  }


  @media(min-width: 1000px) {
    &.active {
      height: 150px;
    }
  
    .faq-button {
      display: flex;
      justify-content: center;
      background-color: #00E88F;
      width: 20%;
      padding: 2vh 5%;
      border-radius: 60px;
      margin-top: 25px;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }
    .question-faq-number {
      width: 5%;
      display: block;
      color: #cfcfcf;
      float: left;
      font-size: 18px;
      font-weight: normal;
      padding-left: 7vw;
    }
  
    .question-faq-title {
      float: left;
      font-size: 24px;
      color: #111;
      font-weight: normal;
      width: 50%;
    }
  
    .question-faq-arrow {
      position: absolute;
      right: 5%;
  
      svg {
        width: 24px;
        height: 24px;
        transform: rotate(180deg);
        transition: transform .5s;
        transform-origin: center center;
      }
  
      path {
        transition: transform .5s;
      }
  
      &.active {
        svg {
          transform: rotate(0deg);
          fill: #111;
  
          circle {
            fill: #00E88F;
          }
  
          path {
            fill: #111;
          }
  
          .second-path {
            stroke: #111;
            fill: #111;
          }
        }
      }
    }
  
    .question-answer-container {
      clear: both;
      float: left;
      display: inherit;
      overflow: hidden;
      position: absolute;
      display: flex;
      flex-direction: column;
      padding-top: 3%;
      padding-left: 12vw;
      width: 100%;
      transition: max-height 0.2s ease-out;
    }
    
    .question-answer {
      width: 50%;
      font-size: 20px;
    }
  }
}