.container-hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-direction: column;

    .h1-title-hero {
        position: absolute;
        border: 1px solid black;
        padding: 10px 10px;
        max-width: 300px;
        top: 10%;
        left: 5%;
    }

    .h2-subtitle-hero {
        position: absolute;
        border: 1px solid black;
        padding: 10px 10px;
        max-width: 300px;
        top: 20%;
        left: 5%;
    }
}