.container-categories {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #eaeaea;

  .slider-categorias {
    width: 100%;

    .slick-slide {
      outline: none;
    }

    .slick-list {
      overflow: hidden;
      margin: 0 auto;
    }
  
    &.slick-slider {
      width: 100%;
    }


  .slick-dots .slick-active {
    background:#00E88F;
  }
  
    .slick-dots {
      width: 200px;
      bottom: initial;
      top: 80%;
      left: 8%;
      position: absolute;
      margin-top: 3vh;
  
      li {
        background: #c2c2c2;
        border-radius: 50%;
        margin: 0 7px;
        height: 9px;
        width: 9px;
  
        button:before {
          content: "";
        }
      }
    }
  }

  .item {
    height: 100vh;
    width: 100%;
    font-family: AprovaSans;

    h2 {
      margin-top: 14%;
      margin-left: 8%;
      font-size: 120px;
      letter-spacing: -3.47px;
      font-weight: bold;
    }

    h3 {
      width: 400px;
      margin-left: 9%;
      margin-top: 20px;
      line-height: 26px;
      font-size: 16px;
      color: #616161;
      font-family: 'InterUI';
    }

    button {
      position: relative;
      z-index: 9999;
      border-radius: 31px;
      margin-left: 9%;
      margin-top: 55px;
      background-color: #08db88;
      font-size: 16px;
      width: 250px;
      height: 60px;
      font-family: inherit;
      border: none;

      &:hover {
        cursor: pointer;
        background-color: #00fa9a;
        transition: all .2s ease;
      }
    }

    .teacher-image {
      position: absolute;
      overflow: scroll;
      top: 18%;
      z-index: -2;
      margin-left: 1000px;
    }
  }
}